services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "Body9627."
      MYSQL_DATABASE: "help_desk_db"
      # Create a non-root user for the application (do not set this to 'root')
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "Body9627."
      # Allow root to connect from any host (useful for other containers/hosts).
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3307:3306"  # Host port 3307 mapped to MySQL container port 3306
    volumes:
      - dbdata:/var/lib/mysql

  web:
    build: .
    restart: always
    ports:
      - "5000:5000"
    environment:
      - 'DATABASE_URL=mysql+pymysql://root:Body9627.@db:3306/help_desk_db'
      - MAIL_SERVER=${MAIL_SERVER}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USE_TLS=${MAIL_USE_TLS}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_DEFAULT_SENDER=${MAIL_DEFAULT_SENDER}
      - SESSION_SECRET=${SESSION_SECRET}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"

volumes:
  dbdata:
